img#alastria-logo {
  object-fit: fill;
  padding-bottom: 15px;
}

h2 {
  width: 100%;
  text-align: center;
}

ion-header {
  background-color: black;
}

.footer-md::before {
  background-image: none;
}

.button-inner {
  font-size: 17px;
}

.cross {
  margin-top: 15px;
  margin-right: 15px;
}

.description {
  padding: 2%;
  font-weight: normal;
  &.bold {
    font-weight: bold;
  }
}